/* Appbar.css */

/* Styles for the contact number */
.noo {
  color: black;
  font-weight: bold;
  background-color: #ffcc00;
  padding: 5px;
}

.changenav {
  background-color: white;
}

/* Prevent dropdown items from changing color when active */
.dropdown-item.active {
  color: inherit !important;
  background-color: transparent !important;
}

/* Optional: remove hover color */
.dropdown-item:hover {
  background-color: transparent !important;
  color: inherit !important;
}

/* Logo text styling */
.logo-text {
  background-color: #ffd400;
  padding: 7px 16px;
  display: inline-block;
  text-align: center;
}

.logo-text .main-text {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  display: block;
}

.logo-text .sub-text {
  font-size: 0.8rem;
  color: #333;
  display: block;
  text-transform: lowercase;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .logo-text {
    padding: 5px 10px;
  }

  .logo-text .main-text {
    font-size: 1.5rem;
  }

  .logo-text .sub-text {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .logo-text {
    padding: 4px 6px;
  }

  .logo-text .main-text {
    font-size: 1rem;
  }

  .logo-text .sub-text {
    font-size: 0.4rem;
  }

  /* Adjust navbar text and link font sizes */
  .navbar .nav-link,
  .navbar-text {
    font-size: 0.6rem;
  }

  .noo {
    font-size: 0.75rem; /* Reduce contact number font size */
    padding: 3px;
  }
}
